body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.large.button {
  border-radius: 999px;
}

.search-bar {
  width: 100%;
}
#image-input {
  display: none;
}
label[for='image-input'] {
  color: white;
}
#image-output {
  max-width: 100%;
  padding: 30px;
  border-radius: 40px;
}

.tags {
  margin-left: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.tags::-webkit-scrollbar {
  display: none;
}
.tags > button {
  display: inline-block;
  margin: 0 10px !important;
}